*.pyc
__pycache__/
medicient/
notes/ 
ssh-key/
workspace/
*.code-workspace
*.vscode
build/
dist/
*.spec
test/
backup/
# important to ignore contains user specific sensitive info
.sensitive_info/
*.key
